*
!lista.json
!.gitignore
!images
!images/*
!source/images/image_1595582997.jpeg
!source/images/image_1595582694.jpeg
!source/images/image_1595580379.jpeg
!source/images/image_1595579089.jpeg
!source/images/image_1595536232.jpeg
!source/images/image_1591889424.jpeg
!source/images/image_1591889253.jpeg
