:root {
	--back: #f6f3ea;
	--base: #fff;
	--text: #004c6c;
}

body {
	margin: auto;
	max-width: 768px;
}

img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
	margin: 10px;
	margin-right: 0;
}

html {
	padding: 0;
	color: var(--text);
	font: 16px/1.4 Optima, Corbel, sans-serif;
	background: var(--back) !important;
}
h1 {
	font-size: 30px !important;
	font-weight: normal;
	position: sticky;
	top: 0;
	z-index: 1;
	background: var(--base);
	border-bottom: solid 1px #f6f3ea;
	padding: 13px 16px !important;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h2 {
	font-style: 20px;
	font-weight: normal;
	margin-top: 0;
}
details {
	margin-top: 20px !important;
	background: var(--base) !important;
	box-shadow: 0 2px 19px rgba(119, 87, 0, 0.1) !important;
}
summary::-webkit-details-marker {
  display:none;
}
summary {
	list-style-type: none;
	cursor: pointer;
}

.details-content {
	padding: 13px;
}

.dish {
	display: flex;
}
.dish strong {
	white-space: nowrap;
}
.dish-info {
	flex-grow: 1;
}
