textarea::-webkit-input-placeholder {
	color: inherit;
}

.sticky {
	position: static;
}

.mv-upload-popup .mv-tip {
	display: none;
}

.tags {
	min-height: 28px;
}
.tags:hover,
.tags:focus-within {
	background: rgb(255 247 0 / 20%);
}
.tags::before {
	content: '(' attr(aria-label) ') ';
	opacity: 0.6;
}
.tags:not(:focus-within) input:not(:checked) + label {
	display: none;
}
.tags:not(:focus-within) label::after {
	content: ', ';
}

.tags:focus-within {
	box-shadow: 0 0 0 1px rgb(133 160 173 / 50%),
		1px 1px 0.5em 1px rgb(0 0 0 / 30%) !important;
}
.tags:focus-within label {
	display: inline-block;
	line-height: 1.2;
	margin-right: 0.3em;
	border: solid 2px;
	border-radius: 1em;
	padding: 0 0.5em;
	margin-bottom: 0.3em;
}

.tags:focus-within input:checked + label {
	background-color: var(--text);
	border-color: var(--text);
	color: var(--back);
}

.tags:focus-within::before {
	display: block;
}

img.mv-empty {
	width: 4em;
	height: 4em;
	float: right;
}
