doctype html
html(data-theme='white' lang='it')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Modifica menu
    script(src='https://get.mavo.io/v0.2.3/mavo.js')
    script(src='mavo-locale-it.js')
    link(rel='stylesheet' href='https://get.mavo.io/v0.2.3/mavo.css')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='modifica.css')
  main(mv-app='lista' mv-storage='https://github.com/hotelteti/menu/blob/modifiche/lista.json' mv-mode='edit')
    .content.container
      .section.ball-container(property='Sezione' mv-multiple)
        h1.ball
          .pill-text(property='Titolo')
        div(property='Piatto' mv-multiple)
          .dish-image(type='button')
            img(property='Foto')
          .dish
            h2(property='Nome')
            p
              strong(property='Prezzo')
              p.descrizione(property='Descrizione' aria-label="Descrizione o lista ingredienti")
              p.allergeni(property='Allergeni')
              p.allergeni(property='AllergeniList' mv-edit="#cool" mv-default="a")
      footer
        p(property='Informazioni')
      <div hidden>
          <div id="cool">
                  input(type="checkbox" property='output')
      </div>

