doctype html
html(data-theme='white' lang='it' class='loading')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Modifica menu
    script(src='https://get.mavo.io/v0.2.3/mavo.js')
    script(src='mavo-locale-it.js')
    link(rel='stylesheet' href='https://get.mavo.io/v0.2.3/mavo.css')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='modifica.css')
  main(mv-app='lista' mv-storage='https://github.com/hotelteti/menu' mv-mode='edit')
    .content.container
      details.section.ball-container.center(property='Sezione' mv-multiple open)
        summary.bg.sticky
          h1.ball
            span.pill-text(property='Titolo')
        p(property='intro' aria-label="Informazioni sezione")
        div(property='Piatto' mv-multiple)
          .dish-image
            img(property='Foto')
          .dish

            label
              input(type="checkbox" property='attivo' id='attivo-[$index]' checked)
              = ' Attivo'
            h2(property='Nome')
            div
              strong(property='Prezzo')
              p.descrizione(property='Descrizione' aria-label="Descrizione o lista ingredienti")
              each list, tag in tags
                .tags(tabindex=0 aria-label=tag)
                  each opzione in list
                    input(type="checkbox" property=opzione id=opzione + '-[$index][idify(Nome)]' hidden)
                    label(for=opzione+ '-[$index][idify(Nome)]')
                      = opzione
      footer.center
        p(property='Informazioni')

  script(src='modifica.js')
