:root {
	--back: #f6f3ea;
	--base: #fff;
	--text: #004c6c;
}
@media (prefers-color-scheme: dark) {
	/* :root {
		--back: #002b3e;
		--base: #004c6c;
		--text: #fff;
	}
	nav img {
		filter: brightness(15);
	} */
}

body {
	margin: auto;
	max-width: 768px;
}

html {
	padding: 0;
	color: var(--text);
	font: 16px/1.4 Optima, Corbel, sans-serif;
	background: var(--back) !important;
}

nav {
	padding: 5px 36px;
	margin: 20px -20px;

	display: flex;
	justify-content: center;
	align-items: center;
}

div + nav {
	background: var(--back);

	position: sticky;
	bottom: 0;
	z-index: 100;
}

nav img {
	height: 50px;
	width: auto;
}

nav .nav {
	display: flex;
	margin-left: auto;
}

nav a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 1em;
	color: var(--text);
	background: var(--base);
	border-radius: 5em;
	border: solid 1px transparent
}

nav a:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

nav a:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.cibo nav a:first-child, .bevande nav a:last-child {
	border-color: inherit
}

h1 {
	display: flex;
	align-items: center;
	font-size: 30px !important;
	font-weight: normal;
	position: sticky;
	top: 0;
	z-index: 1;
	background: var(--base);
	border-bottom: solid 1px #f6f3ea;
	padding: 7px 16px !important;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1:before {
	content: '';
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 16px;
	border-radius: 50%;
	background-color: #f0eadc;
}

@media (max-width: 400px) {
	h1:before {
		margin-left: -40px;
	}
}

.section:nth-of-type(1) h1:before {
	background-color: #0080a9;
}

.section:nth-of-type(2) h1:before {
	background-color: #0098b1;
}

.section:nth-of-type(3) h1:before {
	background-color: #00b0ba;
}

.section:nth-of-type(4) h1:before {
	background-color: #7cd6cb;
}

.section:nth-of-type(5) h1:before {
	background-color: #fdfcdb;
}

.section:nth-of-type(6) h1:before {
	background-color: #ffecc8;
}

.section:nth-of-type(7) h1:before {
	background-color: #ffd9b4;
}

.section:nth-of-type(8) h1:before {
	background-color: #f9a58c;
}

.bevande .section:nth-of-type(1) h1:before {
	background-color: #fff8f7;
}

.bevande .section:nth-of-type(2) h1:before {
	background-color: #fef0ef;
}

.bevande .section:nth-of-type(3) h1:before {
	background-color: #fee1dd;
}

.bevande .section:nth-of-type(4) h1:before {
	background-color: #fdd1cd;
}

.bevande .section:nth-of-type(5) h1:before {
	background-color: #dc7472;
}

.bevande .section:nth-of-type(6) h1:before {
	background-color: #f6978b;
}

.bevande .section:nth-of-type(7) h1:before {
	background-color: #fcc4a9;
}

.bevande .section:nth-of-type(8) h1:before {
	background-color: #ffe3c9;
}

h2 {
	font-style: 20px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.section {
	position: relative;
	margin: 20px 0;
	background: var(--base);
	box-shadow: 0 2px 19px rgba(119, 87, 0, 0.1);
}

h1 {
	position: sticky;
	top: 0;
}

.details-content {
	padding: 13px;
}

.dish {
	display: flex;
	margin-bottom: 40px !important;
}

.dish strong {
	white-space: nowrap;
}

.dish-info {
	flex-grow: 1;
}

.dish img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
	margin: 10px;
	margin-right: 0;
}

.dish h2+.ingredient {
	margin-top: 0;
}
footer {
	font-size: 20px;
	white-space: pre-line;
}
