.slide-x-reverse-transition-enter,
.slide-x-reverse-transition-leave-to {
    transform: scale(0.96) !important;
}

:root:root * {
    box-shadow: none !important;
}
html:root {
    background: #f6f3ea;
    text-rendering: auto;
    -moz-osx-font-smoothing: auto;
}
:root:root:root * {
    color: #004c6c;
    font: 20px/1.4 Optima, Corbel, sans-serif !important;
    letter-spacing: normal !important;
}
.container.fill-height {
    align-items: flex-start;
}
:root:root .section-title,
:root .v-expansion-panel-header .title {
    font-size: 30px !important;
}
.v-navigation-drawer {
    will-change: initial;
}
:root .category_image {
    margin-left: 13px
}
@media (max-width: 400px) {
    :root .category_image {
        margin-left: -30px
    }
}
nav + header {
    display: none !important;
}
.v-expansion-panel-content__wrap {
    padding-left: 0;
    padding-right: 0;
}
:root .v-sheet .v-sheet .section-header,
.v-expansion-panel-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-bottom: solid 1px #f6f3ea;
}
:root .v-sheet .v-sheet .section-header {
    padding: 13px 16px !important;
}
:root .v-sheet.pl-4 > .v-sheet,
:root:root .v-expansion-panel {
    margin-top: 20px !important;
    background: white !important;
    box-shadow: 0 2px 19px rgba(119, 87, 0, .1) !important;
}
:root:root .v-expansion-panel::after {
    content: none !important;
}
.page-filters-bar {
    background: none !important;
}
.page-filters-bar--item {
    background: white;
    border-radius: 2em;
}
.page-filters-bar--item .search-icon {
    margin-left: 0 !important;
}
.page-filters-checkboxes .filters-checkboxes-groups .filters-checkboxes-group ul li label,
.page-filters-checkboxes .filters-checkboxes-groups .filters-checkboxes-group ul li .checkbox {
    height: auto !important;
}
.page-filters-checkboxes .filters-checkboxes-groups .filters-checkboxes-group ul li label {
    margin-top: -2px !important;
}
.v-text-field--outlined fieldset {
    top: -13px !important;
}
.v-badge__badge {
    display: none;
}
:root:root .search_results_typo .v-sheet {
    margin-top: 20px;
    padding-left: 20px !important;
}

:root .theme--light.v-application {
    background: none;
}
:root .v-content {
    transform: none;
    padding-top: 0 !important;
}
.v-toolbar__title {
    display: none;
}
.fill-height:not(#filters-dialog),
.container-mobile,
.container-mobile .v-application,
.container-mobile .page-content.v-content,
.container-mobile .page-content .inner-container {
    overflow: visible !important;
    height: auto !important;
    min-height: 100vh;
}
:root .filters-popup {
    height: 100vh;
}
.container-mobile .page-content.v-content,
.container-mobile .v-application {
    height: 99%;
}

.container-mobile .page-content.v-content .v-application--wrap,
.container-mobile .v-application .v-application--wrap {
    overflow: visible !important;
}
:root:root:root:root header {
    transform: none !important;
    position: relative !important;
}

:root .search-content,
:root .main-restaurant-content,
#main-restaurant-content {
    padding-top: 20px !important;
}
.main-restaurant-container {
    position: static !important;
}

.item-card-button .row {
    min-height: 0 !important;
    margin-left: 0;
    margin-right: 0;
}

:root .item-card-button .col {
    padding: 0;
    overflow: visible;
}
.item-card-button .row:first-child {
    display: block;
}
.item-card-button .item-image-col {
    float: right;
    clear: right;
}
.item-card-button .item-image {
    margin-top: 2em;
    float: right;
}
.theme--light.v-divider {
    border: none;
}
.v-app-bar--fixed {
    position: relative
}

:root .v-application .pl-4 {
    padding-left: 0 !important;
}

.v-app-bar__nav-icon {
    display: none !important;
}

:root .item-card-button {
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 40px !important;
}
.item-card-button > .row:first-child .pt-2 {
    padding: 0 !important;
}

.item-card-button > .row:nth-child(2),
.item-card-button .title {
    padding-bottom: 0 !important;
    margin-right: 5em;
}
:root:root:root:root .detail-button,
:root:root:root:root .ingredients {
    font-size: 0.8em !important;
}
:root:root:root:root .detail-button {
    text-decoration: underline;
    text-decoration-color: #b1dcee;
    padding: 0 !important;
    opacity: 0.7;
}
.mdi-eye {
    display: none !important;
}
.item-card-button > .row:last-child > .d-flex {
    /* Dettagli*/
    /*position: absolute;
    width: auto;
    top: 1.3em;
    right: 0;*/
}
.row:nth-child(2) .price {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right !important;
}
:root:root .item-top-label {
    position: static;
    background: none;
    text-transform: none;
    text-align: left;
    display: block;
    font-size: 0.7em !important;
    margin-left: -16px;
}

.v-divider {
    display: none;
}
.restaurant-info {
    padding: 10px 15px !important;
}
.item-card-button .tag {
    height: auto !important;
}

.flex.justify-start.align-start.flex-direction > .no-gutters {
    background: white;
}
:root:root:root:root .no-gutters .title {
    font-weight: bold !important;
}

:root:root .tag-name {
    font-size: 0.7em !important;
}


:root:root:root:root .tag-icon svg {
    margin-top: 0 !important;
    height: 0.7em !important;
    vertical-align: baseline !important;
}

:root:root:root:root .tag-icon {
    margin-top: 0 !important;
    max-height: none;
}

.item-content ul.tags li span {
    display: inline !important;
}

/* Element | https://dishcovery.menu/app/ */
#Capa_1 {
    vertical-align: middle;
}
.bottom-review-box {
    display: none !important;
}

.theme--light.v-sheet {
    background: none;
}
@media (prefers-color-scheme: dark) {
    .v-expansion-panel-header {
        border-bottom-color: #002b3e;
    }
    .v-application .white,
    html:root {
        background: #002b3e !important;
    }
    :root:root .v-expansion-panel,
    .v-expansion-panel-header,
    .page-filters-bar--item,
    .flex.justify-start.align-start.flex-direction > .no-gutters {
        background: #004c6c !important;
    }
    :root:root:root * {
        color: white;
    }

    .v-icon,
    .back-icon {
        filter: invert(100%)
    }
}
